/* *************************************************************************
                                    MOBILE
/* ********************************************************************** */

/* ***************************  Generic Content *************************** */

@media screen and (min-width: 425px) {
    
    #index-bar1, #index-bar2, #index-bar3, #index-bar4,
    #am-graph1, #am-graph2, #amoran-graph1, #amoran-graph2, #bb-graph1, #bb-graph2,
    #cs-graph1, #cs-graph2m #cf-graph1, #cf-graph2, #cb-graph1, #cb-graph2, #jkelly-graph1, 
    #jkelly-graph2, #jk-graph1, #jk-graph2, #jf-graph1, #jf-graph2, #ms-graph1, #ms-graph2, 
    #nt-graph1, #nt-graph2, #oc-graph1, #oc-graph2, #pb-graph1, #pb-graph2, #pf-graph1, #pf-graph2, 
    #pm-graph1, #pm-graph2, #sm-graph1, #sm-graph2, #tc-graph1, #tc-graph2, #tm-graph1, #tm-graph2,
    #wa-graph1, #wa-graph2 {
        width: 120%;
        text-align: center;
    }
   
    #index-bar1.dc-chart, #index-bar2.dc-chart, #index-bar3.dc-chart, #index-bar4.dc-chart,
    #am-graph1.dc-chart, #am-graph2.dc-chart, #amoran-graph1.dc-chart, #amoran-graph2.dc-chart,
    #bb-graph1.dc-chart, #bb-graph2.dc-chart, #cs-graph1.dc-chart, #cs-graph2.dc-chart, 
    #cf-graph1.dc-chart, #cf-graph2.dc-chart, #cb-graph1.dc-chart, #cb-graph2.dc-chart,
    #jkelly-graph1.dc-chart, #jkelly-graph2.dc-chart, #jk-graph1.dc-chart, #jk-graph2.dc-chart, 
    #jf-graph1.dc-chart, #jf-graph2.dc-chart, #ms-graph1.dc-chart, #ms-graph2.dc-chart,
    #nt-graph1.dc-chart, #nt-graph2.dc-chart, #oc-graph1.dc-chart, #oc-graph2.dc-chart,
    #pb-graph1.dc-chart, #pb-graph2.dc-chart, #pf-graph1.dc-chart, #pf-graph2.dc-chart,
    #pm-graph1.dc-chart, #pm-graph2.dc-chart, #sm-graph1.dc-chart, #sm-graph2.dc-chart,
    #tc-graph1.dc-chart, #tc-graph2.dc-chart, #tm-graph1.dc-chart, #tm-graph2.dc-chart,
    #wa-graph1.dc-chart, #wa-graph2.dc-chart {
        transform: scale(.8) translate(-10%);
    }
}

/* *************************************************************************
                                    TABLET
/* ********************************************************************** */

@media screen and (min-width: 768px) {
   
/* ****************************** Main Header **************************** */
   
    #myNavbar ul li {
        display: inline-block;
    }

    #myNavbar ul {
        text-align: center;
    }   
    
/* ***************************  Generic Content *************************** */

    .main-content {
        margin-top: 105px;
    }   
    
    #index-bar1, #index-bar2, #index-bar3, #index-bar4,
    #am-graph1, #am-graph2, #amoran-graph1, #amoran-graph2, #bb-graph1, #bb-graph2,
    #cs-graph1, #cs-graph2, #cf-graph1, #cf-graph2, #cb-graph1, #cb-graph2, #jkelly-graph1, 
    #jkelly-graph2, #jk-graph1, #jk-graph2, #jf-graph1, #jf-graph2, #ms-graph1, #ms-graph2,
    #nt-graph1, #nt-graph2, #oc-graph1, #oc-graph2, #pb-graph1, #pb-graph2, #pf-graph1, #pf-graph2,
    #pm-graph1, #pm-graph2, #sm-graph1, #sm-graph2,#tc-graph1, #tc-graph2, #tm-graph1, #tm-graph2,
    #wa-graph1, #wa-graph2 {
        width: 90%;
        text-align: center;
    }
   
    #index-bar1.dc-chart, #index-bar2.dc-chart, #index-bar3.dc-chart, #index-bar4.dc-chart,
    #am-graph1.dc-chart, #am-graph2.dc-chart, #amoran-graph1.dc-chart, #amoran-graph2.dc-chart,
    #bb-graph1.dc-chart, #bb-graph2.dc-chart, #cs-graph1.dc-chart, #cs-graph2.dc-chart,
    #cf-graph1.dc-chart, #cf-graph2.dc-chart, #cb-graph1.dc-chart, #cb-graph2.dc-chart,
    #jkelly-graph1.dc-chart, #jkelly-graph2.dc-chart, #jk-graph1.dc-chart, #jk-graph2.dc-chart,
    #jf-graph1.dc-chart, #jf-graph2.dc-chart, #ms-graph1.dc-chart, #ms-graph2.dc-chart,
    #nt-graph1.dc-chart, #nt-graph2.dc-chart, #oc-graph1.dc-chart, #oc-graph2.dc-chart, 
    #pb-graph1.dc-chart, #pb-graph2.dc-chart, #pf-graph1.dc-chart, #pf-graph2.dc-chart,
    #pm-graph1.dc-chart, #pm-graph2.dc-chart, #sm-graph1.dc-chart, #sm-graph2.dc-chart,
    #tc-graph1.dc-chart, #tc-graph2.dc-chart, #tm-graph1.dc-chart, #tm-graph2.dc-chart,
    #wa-graph1.dc-chart, #wa-graph2.dc-chart {
        transform: scale(1) translate(6%);
        margin-bottom: 50px;
    }
    
/* ***************************  Index.html ******************************** */
   
   #index-pie1 {
       margin-bottom: 20px;
    }

    #key-title {
        text-align: center;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .key-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: left;
    }

    .key-container {
        margin:0;
        width: 40%;
    }
    
    #wa-item-tablet {
        text-align: left;
        width: 100%;
        margin-left: 6.5%;
    }
    
/* ***************************  Articles Page ******************************** */
    
    .articles-flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    .articles-container {
        width: 45%;
    }
    
/* ***********************  Article Item Page ******************** */
    
    .article-item-image {
        width: 100%;
        height: 300px;
    }

    .article-item-image img {
        width: 100%; 
        object-fit: cover;
    }    
    
    .article-item-box {
        transform: translateY(-50%);
        padding: 20px;
    }
    
    .article-item-content {
        transform: translateY(-13%);
    }

/* ***************************  Councillor Page ******************************** */
    
    h4 {
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 21px;
    }

    .bio-section {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }
    
    .bio-contact-title {
        text-align: left;
    }
    
    .bio-image {
        width: 30%;
    }
    
    .bio-contact {
        margin-top: 50px;
    }
    
    #motions-title {
        padding-top: 20px;
    }

/* ***************************  Councillors List Page ******************************** */
    
    .councillors-list-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .councillors-list-container {
        width: 30%;
    }
    
    .councillors-list-title {
        margin-bottom: 5px;
        font-size: 18px;
    } 
    
/* *****************************  Contact Page ****************************** */

    .form-container {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .form-container p {
        margin-bottom: 0;
    }    
    
}    
    
/* *************************************************************************
                                    LAPTOP
/* ********************************************************************** */

@media screen and (min-width: 1024px) {
    
/* ****************************** Main Header **************************** */

    .flex-header {
        display: flex;
        height: 80px;
        padding-top: 20px;
        justify-content: space-between;
    }
    
    h1 {
        padding-top: 0;
        margin-left: 5%;
    }
    
    .nav li a {
        padding: 7px;
    }

/* ***************************  Generic Content *************************** */

    #index-bar1, #index-bar2, #index-bar3, #index-bar4 {
        width: 100%;
    }
    
    #index-bar1.dc-chart, #index-bar2.dc-chart, #index-bar3.dc-chart, #index-bar4.dc-chart {
        transform: scale(1) translate(0%);
    }

/* ***************************  Index.html  *************************** */

    .bar-graphs-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        clear: both;
        justify-content: space-around;
    }
    
    h4 {
        text-align: left;
        margin-left: 17%;
    }
    
    .bar-graph-item {
        max-width: 30%;
    }

    .key-container {
        max-width: 30%;
        margin-left: 3%;
    }

    #wa-item-tablet {
        margin-left: 3%;
    }
    
/* ***************************  About Page ******************************** */
    
    .about-flex-container {
        display: flex;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
    .about-text-container {
        width: 50%;
        padding: 10px;
    }
    
    .about-text-title {
        margin-left: 0;
        margin-bottom: 10px;
        font-weight: 400;
    }
    
    .about-item-container-order {
        order: 1;
    }
    
    .about-icon-container {
        width: 50%;
    }
    
    .about-icon {
        font-size: 130px;
        padding-top: 70px;
    }
    
    #about-icon1 {
        padding-top: 150px;
    }
    
/* ***************************  Articles Page  *************************** */
    
    .articles-container {
        width: 32%;
    }
    
/* ***********************  Article Item Page ******************** */
    
    .article-item-image {
        width: 100%;
        height: 350px;
    }
    
    .article-item-image img {
        object-fit: cover;
    }
    
    .article-item-box {
        transform: translateY(-40%);
        padding: 40px;
    }    
    
    .article-item-content {
        transform: translateY(-15%);
    }
    
/* ***************************  Councillor Page  *************************** */
    
    .bio-section {
        width: 80%;
        margin: 0 auto;
    }
    
    .bio-contact p {
        font-size: 18px;
    }
    
    .councillor-graphs-container {
        display: flex;
        width: 100%;
        margin-top: 20px;
    }
    
    .councillor-graph-item {
        width: 100%;
    }
    
    #am-graph1.dc-chart, #am-graph2.dc-chart, #amoran-graph1.dc-chart, #amoran-graph2.dc-chart,
    #bb-graph1.dc-chart, #bb-graph2.dc-chart, #cs-graph1.dc-chart, #cs-graph2.dc-chart, 
    #cf-graph1.dc-chart, #cf-graph2.dc-chart, #cb-graph1.dc-chart, #cb-graph2.dc-chart, 
    #jkelly-graph1.dc-chart, #jkelly-graph2.dc-chart, #jk-graph1.dc-chart, #jk-graph2.dc-chart, 
    #jf-graph1.dc-chart, #jf-graph2.dc-chart, #ms-graph1.dc-chart, #ms-graph2.dc-chart, 
    #nt-graph1.dc-chart, #nt-graph2.dc-chart, #oc-graph1.dc-chart, #oc-graph2.dc-chart,
    #pb-graph1.dc-chart, #pb-graph2.dc-chart, #pf-graph1.dc-chart, #pf-graph2.dc-chart, 
    #pm-graph1.dc-chart, #pm-graph2.dc-chart, #sm-graph1.dc-chart, #sm-graph2.dc-chart,
    #tc-graph1.dc-chart, #tc-graph2.dc-chart, #tm-graph1.dc-chart, #tm-graph2.dc-chart,
    #wa-graph1.dc-chart, #wa-graph2.dc-chart {
        width: 95%;
        transform: translateX(2%);
    }
    
/* ***************************  Councillors List Page ******************************** */
    
    .councillors-list-container {
        width: 25%;
    }   

/* *****************************  Contact.html ****************************** */

    .form-container {
        max-width: 60%;
    } 
    
    .contact-title h4 {
        text-align: center;
        margin: 0;
        margin-top: 50px;
    }
    
}

/* *************************************************************************
                                    DESKTOP
/* ********************************************************************** */

@media screen and (min-width: 1430px) {
    
/* ****************************** Main Header **************************** */

    h1 {
        font-size: 42px;
    }
    
    nav li a {
        font-size: 22px;
        margin-right: 40px;
    }

/* ***************************  Generic Content *************************** */

/* ***************************  Index.html  *************************** */

    .bar-graphs-container {
        max-width: 80%;
        margin: 0 auto;
    }
    
    h4 {
        margin-left: 6%;
    }
    
    .key-container {
        max-width: 25%;
        justify-content: left;
        margin-left: 7%;
    }
    
    #wa-item-tablet {
        margin-left: 7%;
    }

/* ***************************  About Page  *************************** */

    #about-icon1 {
        padding-top: 100px;
    }
    
/* ***************************  Articles Page  *************************** */
    
    .articles-flex-container {
        margin-top: 50px;
    }
    
    .articles-container {
        width: 30%;
        margin-bottom: 50px;
    }
    

/* ***********************  Article Item Page ******************** */
    
    .article-item-image {
        height: 450px;
    }
    
    .article-item-image img {
        object-fit: cover;
    }
    
    .article-item-box {
        transform: translateY(-40%);
        padding: 60px;
    }     
    
    .article-item-content {
        transform: translateY(-20%);
    }

    
/* ***************************  Councillor Page  *************************** */
    
    .bio-section {
        width: 60%;
        margin-left: 0;
    }    

/* ***************************  Councillors List Page ******************************** */

    .councillors-list-image {
        height: 250px;
    }     
 }

/* *************************************************************************
                                    WIDESCREEN
/* ********************************************************************** */

@media screen and (min-width: 1860px) {

/* ****************************** Generic Content **************************** */

    p {
        font-size: 18px;
    }
    
/* ****************************** Main Header **************************** */
    
    h1 {
        font-size: 48px;
    }
    
    nav li a {
        font-size: 28px;
        margin-right: 40px;
    }
    
/* ***************************  Generic Content *************************** */

    #index-bar1, #index-bar2, #index-bar3, #index-bar4,
    #am-graph1, #am-graph2, #amoran-graph1, #amoran-graph2, #bb-graph1, #bb-graph2,
    #cs-graph1, #cs-graph2, #cf-graph1, #cf-graph2, #cb-graph1, #cb-graph2, #jkelly-graph1, 
    #jkelly-graph2, #jk-graph1, #jk-graph2, #jf-graph1, #jf-graph2, #ms-graph1, #ms-graph2,
    #nt-graph1, #nt-graph2, #oc-graph1, #oc-graph2, #pb-graph1, #pb-graph2, #pf-graph1, #pf-graph2,
    #pm-graph1, #pm-graph2, #sm-graph1, #sm-graph2, #tc-graph1, #tc-graph2, #tm-graph1, #tm-graph2,
    #wa-graph1, #wa-graph2 {
        width: 600px;
    }

/* ***************************  Index.html  *************************** */
   
    .key-container {
        max-width: 20%;
        justify-content: left;
        margin-left: 10%;
    }
    
    #wa-item-tablet {
        margin-left: 10%;
    }

/* ***************************  Articles Page  *************************** */
    .articles-container {
        width: 22%;
    }

/* ***************************  Article Item Page  *************************** */
    
    .article-item-image {
        height: 500px;
        width: 80%;
        margin: 0 auto;
    }
    
    .article-item-box {
        transform: translateY(0%);
        padding: 80px;
    }        

    .article-item-content {
        width: 80%;
        margin: 0 auto;
        transform: translateY(0%);
    }

/* ***************************  Councillor Page  *************************** */

    #about-icon1 {
        padding-top: 60px;
    }
    
    #about-icon2 {
        padding: 20px;
    }
/* ***************************  Councillor Page  *************************** */
    
    .bio-section {
        width: 40%;
        margin-left: 0;
    } 

/* ***************************  Councillors List Page ******************************** */
    
    .councillors-list-image {
        height: 300px;
    }     
   
/* ***************************  Councillors List Page ******************************** */
    .form-container {
      width: 40%;
   }   
}

/* *************************************************************************
                                    WIDESCREEN
/* ********************************************************************** */

/* ****************************** Artcile Item Page **************************** */


@media screen and (min-width: 1860px) {

    .article-item-box {
        transform: translateY(-40%);
        padding: 80px;
        width: 70%;
    }        

    .article-item-content {
        width: 70%;
        margin: 0 auto;
        transform: translateY(-15%);
    }  
}

/* ****************************** Councillor Table fix **************************** */

@media screen and (min-width: 425px) {
    
    .fa-key {
        transform: translateY(-50%);
    }
}

/* ****************************** Councillor Table fix **************************** */

@media screen and (max-width: 768px) {
    table, th, td {
        border: 1px solid #939393;
        border-collapse: collapse;
        padding: 10px;
        display: block;
    }

    th { 
	    position: absolute;
	    top: -9999px;
	    left: -9999px;
    }
    
    
    .table-colour {
        background-color: #eaf0f9;
    }
}